<!DOCTYPE html>
<html>

<!-- Dolice Sucks jajajaja-->

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h2>SeventyUpgrade Parser</h2>
      <br>
      <input type="text" class="txt" name="inputurl" placeholder="Enter URL or Set Code" />
      <a type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Parse</a>
    </div>
  </div>

  <div class="container">
    <textarea type="text" class="output" name="outputBox" placeholder="Resulting Commands"></textarea>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Useful Commands</h3>
        <ul>
          <li>.level 69</li>
          <li>.mod money add 10000000000</li>
          <li>.tele shattrath</li>
          <li>.account create user pass</li>
          <li>.account set addon 1</li>
          <li>.account set gm level 3</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
        <ul>
          <li><a href="https://seventyupgrades.com/">Seventy Upgrades</a></li>
          <li><a href="https://tbc-twinhead.twinstar.cz/">TBC Database</a></li>
          <li><a href="https://www.reaper-x.com/2007/09/21/wow-mangos-gm-game-master-commands/">Command List</a></li>
        </ul>
      </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Created by MeloN - Convicted - Mograine EU
    </div>
  </div>


</body>

</html>